<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:macro name="base" params="base_link">
        <gazebo reference="${base_link}">
            <selfCollide>true</selfCollide>
            <mu value="0.3" />
            <mu2 value="0.3" />
            <kp value="1000000.0" />
            <kd value="100" />
            <fdir1 value="0 0 0" />
        </gazebo>

        <joint name="base_footprint_joint" type="fixed">
            <parent link="base_link" />
            <child link="base_footprint" />
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <joint name="chassis_joint" type="fixed">
            <parent link="base_link" />
            <child link="${base_link}" />
            <origin xyz="0 0 0" rpy="0 0 -1.57" />
        </joint>

        <joint name="imu_joint" type="fixed">
            <parent link="base_link"></parent>
            <child link="imu_link"></child>
            <origin xyz="0 0 0.01"></origin>
        </joint>

        <link name="base_link">
        </link>

        <link name="imu_link"></link>

        <link name="base_footprint">
        </link>

        <link name="${base_link}">
            <inertial>
                <mass value="5" />
                <origin rpy="0  0  0" xyz="0  0  0.0118" />
                <inertia ixx="0.019995" ixy="0.0" ixz="0.0"
                    iyy="0.019995" iyz="0.0"
                    izz="0.03675" />
            </inertial>
            <collision name="${base_link}_collision">
                <origin rpy="0  0  0" xyz="0  0  0.0118" />
                <geometry>
                    <mesh filename="$(find warehouse_robot)/models/laser_robot/meshes/carcaca.dae"
                        scale="1 1 1" />
                </geometry>
            </collision>
            <visual name="${base_link}_visual">
                <origin rpy="0  0  0" xyz="0  0  0.0118" />
                <geometry>
                    <mesh filename="$(find warehouse_robot)/models/laser_robot/meshes/carcaca.dae"
                        scale="1 1 1" />
                </geometry>
            </visual>
        </link>

        <gazebo reference="imu_link">
            <sensor name="imu_sensor" type="imu">
                <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                    <ros>
                        <remapping>~/out:=imu</remapping>
                    </ros>
                    <initial_orientation_as_reference>false</initial_orientation_as_reference>
                </plugin>
                <always_on>true</always_on>
                <update_rate>100</update_rate>
                <visualize>true</visualize>
                <imu>
                    <angular_velocity>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>2e-4</stddev>
                                <bias_mean>0.0000075</bias_mean>
                                <bias_stddev>0.0000008</bias_stddev>
                            </noise>
                        </z>
                    </angular_velocity>
                    <linear_acceleration>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.7e-2</stddev>
                                <bias_mean>0.1</bias_mean>
                                <bias_stddev>0.001</bias_stddev>
                            </noise>
                        </z>
                    </linear_acceleration>
                </imu>
            </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:base base_link="carcaca" />
</robot>