<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <joint name="joint_rplidar" type="fixed">
    <parent link="carcaca" />
    <child link="laser_frame" />
    <origin rpy="0 0 0" xyz="0.14 -0.17 0.255" />
  </joint>

  <link name="laser_frame">
    <visual>
      <origin rpy="0 0 1.20" xyz="-0.03 0.02 -0.02" />
      <geometry>
        <mesh filename="$(find warehouse_robot)/models/laser_robot/meshes/rplidar.dae" scale="0.7 0.7 0.7" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 1.20" xyz="-0.03 0.02 -0.02" />
      <geometry>
        <mesh filename="$(find warehouse_robot)/models/laser_robot/meshes/rplidar.dae" scale="0.7 0.7 0.7" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
</link>



<gazebo reference="laser_frame">
    <sensor name="laser" type="ray">
        <pose> 0 0 0 0 0 0 </pose>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <ray>
            <scan>
                <horizontal>
                    <samples>360</samples>
                    <min_angle>-3.14</min_angle>
                    <max_angle>3.14</max_angle>
                </horizontal>
            </scan>
            <range>
                <min>0.3</min>
                <max>12</max>
            </range>
        </ray>
        <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
            <ros>
                <argument>~/out:=scan</argument>
            </ros>
            <output_type>sensor_msgs/LaserScan</output_type>
            <frame_name>laser_frame</frame_name>
        </plugin>
    </sensor>
</gazebo>

</robot>