<?xml version="1.0"?>
<robot name="my_robot_2" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--=========================== PLUGINS ===========================-->

  <xacro:include filename="$(find warehouse_robot)/urdf/ros2_control.xacro" ns="robot_2"/>

  <!--=========================== ROBOT PARTS ===========================-->

  <xacro:include filename="$(find warehouse_robot)/urdf/robot_parts/carcaca.xacro" ns="robot_2"/>

  <xacro:include filename="$(find warehouse_robot)/urdf/robot_parts/traction_wheel.xacro" ns="robot_2"/>

  <xacro:include filename="$(find warehouse_robot)/urdf/robot_parts/tray.xacro" ns="robot_2" />

  <xacro:include filename="$(find warehouse_robot)/urdf/robot_parts/piston.xacro" ns="robot_2"/>

  <xacro:include filename="$(find warehouse_robot)/urdf/robot_parts/omni_wheel.xacro" ns="robot_2"/>

  <!--=========================== SENSORS ===========================-->

    <xacro:include filename="$(find warehouse_robot)/urdf/sensors/rplidar.xacro" ns="robot_2"/>

    <xacro:include filename="$(find warehouse_robot)/urdf/sensors/camera.xacro" ns="robot_2"/>

</robot>