<?xml version="1.0"?>
<robot name="my_robot_2" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--=========================== PLUGINS ===========================-->

  <xacro:include filename="$(find warehouse_robot)/urdf/ros2_control.xacro" />

  <!--=========================== ROBOT PARTS ===========================-->

  <xacro:include filename="$(find warehouse_robot)/urdf/robot_parts/carcaca.xacro" />

  <xacro:include filename="$(find warehouse_robot)/urdf/robot_parts/traction_wheel.xacro" />

  <xacro:include filename="$(find warehouse_robot)/urdf/robot_parts/tray.xacro" />

  <xacro:include filename="$(find warehouse_robot)/urdf/robot_parts/piston.xacro" />

  <xacro:include filename="$(find warehouse_robot)/urdf/robot_parts/omni_wheel.xacro" />

  <!--=========================== SENSORS ===========================-->

    <xacro:include filename="$(find warehouse_robot)/urdf/sensors/rplidar.xacro" />

    <xacro:include filename="$(find warehouse_robot)/urdf/sensors/camera.xacro" />

</robot>